<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/bsg-people">People</a>
        <a href="/ZL-Animals">Animals</a>
        <a href="/ZL-Species">Species</a>
        <a href="/ZL-Zoos">Zoos</a>
        <a href="/ZL-Employees">Employees</a>
        <a href="/ZL-Caretakings">Caretakings</a>
        <a href="/ZL-Diets">Diets</a>
        <a href="/ZL-FeedingSchedules">Feeding Schedules</a>
        <a href="/ZL-Enclosures">Enclosures</a>
        <a href="/ZL-Roles">Roles</a>
    </nav>

    {{{body}}}

</body>
</html>