<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/bsg-people">BSG People</a>
        <a href="/Animals">Animals</a>
        <a href="/Species">Species</a>
        <a href="/Zoos">Zoos</a>
        <a href="/Employees">Employees</a>
        <a href="/Caretakings">Caretakings</a>
        <a href="/Diets">Diets</a>
        <a href="/FeedingSchedules">Feeding Schedules</a>
        <a href="/Enclosures">Enclosures</a>
        <a href="/Roles">Roles</a>
    </nav>

    {{{body}}}

</body>
</html>