<h1>ZooLink PNW Home page</h1>
<div class="homepageDescription">
    <p>ZooLink PNW manages over 820 animals across 15 zoo facilities
        within the Pacific Northwest region. Each zoo employs 45-55
        caretakers that are responsible for feeding, monitoring, and
        maintaining animal health and safety.</p>

    <p>Currently, all records regarding animal and employee data, zoo 
        information, and caretaking details (feeding schedule, diet, enclosure 
        type, etc) are recorded manually. This outdated process has led to errors 
        and inaccuracies when reporting employee workload in relation to animal 
        caretaking needs. Specifically, within the past week there have been 12 
        missed feedings. </p>

    <p>To resolve these issues, we will be creating and implementing a 
        database-driven website that will centralize this information. The 
        new system will ensure accurate and efficient management of all zoo 
        operations. It is capable of managing over 1000 Animals across 50 
        different zoo facilities. Administrators will be able to quickly 
        view details of all animals in captivity, monitor details for each 
        zoo, and track caretaker assignments across all facilities. </p>
</div>