h1, h2 { margin-left: 16px;}
body {
    background-color: #ffe6a1;
}
table {border-collapse: collapse;margin-left: 32px;}
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}
th {background-color: #d8d8d8;}
tr:nth-child(even) {background-color: #eeeeee;}
tr:nth-child(odd) {background-color: #ffffff;}
.cuForm { margin-left: 32px;}
input, select { margin-bottom: 4px;margin-right: 12px;}
nav {background-color: #915721;padding: 16px;}
a {margin-left: 16px;}
.homepageDescription {margin-left: 32px;}